# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqdGJyc29wdHV4aHlteXh6d3hmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNTAyOTMsImV4cCI6MjA4ODYyNjI5M30.6cL84GYLiJfo_SQs_sTKmD4RLKatZML0_F24NlqEtkM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqdGJyc29wdHV4aHlteXh6d3hmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzA1MDI5MywiZXhwIjoyMDg4NjI2MjkzfQ.UKRiHRWoEgocaS-opoHEyTSbIvB3Iwh8LFxGHXVPixY

# Resend (email)
RESEND_API_KEY=re_WCVimPTQ_GetxcLWBRFoQwGXQ61vS3ysy
RESEND_FROM_EMAIL=Chamber of Gold Buyers <onboarding@resend.dev>
RESEND_TO_EMAIL=business@chamberofgoldbuyers.com

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Gold Price API (optional)
APISED_API_KEY=your_apised_api_key

R2_ACCOUNT_ID=22e676c634583bfe39cc98f7228a0fda
R2_ACCESS_KEY_ID=87fd6f17677e24f1e6d590b9d35304fd
R2_SECRET_ACCESS_KEY=c67490469a267e79c5d48e5974befa5f4bf0e1f3d204cc29167fff6f3997e6d1
R2_BUCKET_NAME=goldbuyers
R2_PUBLIC_URL=https://pub-46ec3e18e21446b8a0c441bdbc1e8ccd.r2.dev

#R2
https://pub-46ec3e18e21446b8a0c441bdbc1e8ccd.r2.dev